@charset "UTF-8";
body {
    overflow: hidden;
}
section#conteudo {
    width: 1000px;
    margin: auto;
}
iframe#frame-spec {
    width: 403px;
    height: 280px;
    border: none;
    overflow: hidden;
}
